.resultDonation
{
    background-color: #202020;
    padding: 1.3rem;
    border-radius: 10px;
    font-family: sans-serif;
    user-select: none;
    border: var(--border-elements);
    margin-top: 1.5rem;


    .result-container
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .result-content
        {
            width: 100%;
            height: 500px;
            background-color: black;

            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            overflow: hidden;


            #result-background
            {
                background-color: #202020;
                padding: .5rem;
                border-radius: 5px;
                border: var(--border-elements);

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                position: absolute;
                top: 15px;
                left: 15px;

                .title
                {
                    color: #929292;
                    text-transform: uppercase;
                    font-family: sans-serif !important;
                    font-size: .65rem;
                    font-weight: 600;
                    margin-bottom: .5rem;
                    letter-spacing: -.5px;
                }


                input
                {
                    appearance: none;
                    background: transparent;
                    border: none;
                    height: 50px;
                    width: 100%;
                    cursor: pointer;
                }

                // chrome
                input::-webkit-color-swatch
                {
                    border-radius: 5px;
                    border: none;
                }

                // firefox
                input::-moz-color-swatch
                {
                    border-radius: 5px;
                    border: none;
                }

                #text-color
                {
                    width: 95%;
                    font-family: sans-serif !important;
                    text-transform: lowercase;
                }

            }

            #final-result
            {
                min-width: 70%;
                padding: 1.3rem 1rem;
                background-color: #101012;

                #final-result-title
                {
                    font-size: 24px;
                    text-transform: uppercase;
                }

                #final-result-propgressbar-container
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;


                    #final-result-progressbar
                    {
                        width: 100%;
                        height: 25px;
                        margin: .7rem 0;
                        background-color: #510bc1;

                        border: 2.3px solid white;
                        border-radius: 50px;
                        padding: .25rem;

                        #final-result-current-bar
                        {
                            width: 20%;
                            height: 100%;
                            display: block;
                            background-color: white;
                            border-radius: 50px;
                        }
                    }

                    #goal-amount
                    {
                        font-size: 1.2rem;

                    }
                }
            }
        }

        .buttons
        {
            width: 100%;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #save
            {
                width: 100%;
                background-color: #6710f1;
                padding: 1.2rem 3rem;
                margin-right: 1rem;

                font-family: sans-serif;
                font-size: 1.15rem;
                font-weight: 600;
                color: white;

                border: none;
                outline: none;
                border-radius: 8px;

                cursor: pointer;
            }

            #redo
            {
                padding: 1.1rem .7rem;
                background-color: #353f4a;

                border: none;
                outline: none;
                border-radius: 8px;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
            }
        }

    }
}

@media screen and (min-width : 1400px)
{
    #final-result
    {
        min-width: 100% !important;
    }
}