.tools
{
    display: flex;
    width: 100%;
    background-color: #181818;
    display: flex;
    width: 100%;
    height: 100vh;

    overflow: hidden;

    scroll-margin: 10px;

    .content
    {
        margin-top: 6rem;
        color: white;
        width: 100%;

        display: grid;
        grid-template-columns: auto auto;


        a
        {
            background: linear-gradient(to top right, #202020, #181818, #202020);
            border: var(--border-elements);
            width: 80%;
            margin: auto;
            height: 80%;
            border-radius: 20px;
            padding: 2rem;
            color: white;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 2rem;

            &:hover
            {
                background: linear-gradient(to top right, #20054c, #6710f1, #20054c);
            }
        }

    }
}


@media screen and (min-width : 990px)
{
    .donation
    {
        .content
        {
            margin: 0 2rem;
            margin-right: 3rem;

        }
    }
}

@media screen and (min-width : 1400px)
{
    .donation
    {
        display: flex;

        .content
        {
            width: 100%;

            margin-left: 1rem;
            margin-right: 1.5rem;

            .workspace
            {
                flex-direction: row !important;


            }

        }
    }
}