@font-face
{
	font-family: 'A-Duel';
	src: url('./../../assets/fonts/Fa/A-Duel/A duel Regular.ttf');
	font-style: normal;
	font-weight: 100;
}

@font-face
{
	font-family: 'A-Duel';
	src: url('./../../assets/fonts/Fa/A-Duel/A duel Fat.ttf');
	font-style: normal;
	font-weight: 600;
}

// ---------------------
@font-face
{
	font-family: 'A-Massir';
	src: url('./../../assets/fonts/Fa/A-Massir/A Massir Ballpoint.ttf');
	font-style: normal;
	font-weight: 100;
}

@font-face
{
	font-family: 'A-Massir';
	src: url('./../../assets/fonts/Fa/A-Massir/A Massir Spray.ttf');
	font-style: normal;
	font-weight: 600;
}

// ------------ Vazir
@font-face
{
	font-family: Vazir;
	src: url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Thin.woff2') format('woff2'),
		url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face
{
	font-family: Vazir;
	src: url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Light.woff2') format('woff2'),
		url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: Vazir;
	src: url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Regular.ttf') format('truetype'),
		url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: Vazir;
	src: url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Medium.woff2') format('woff2'),
		url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: Vazir;
	src: url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Bold.woff2') format('woff2'),
		url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face
{
	font-family: Vazir;
	src: url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Black.woff2') format('woff2'),
		url('./../../assets/fonts/Fa/Vazir-font/Vazirmatn-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
